{% extends 'layout/basic.html' %}
{% load static %}


{% block title %} User Login {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
{% endblock %}

{% block content %}
    <div class="account_form">
    <div class="form_title">Login to MP</div>
    <form id="LoginForm" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'verification_code' %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    <div class="row">
                        <div class="col-xs-6">{{ field }}</div>
                        <div class="col-xs-6"><button id="BtnSendCode" type="button" class="btn btn-default">Send Code</button></div>
                    </div>
                    <span id="ErrorMsg"></span>
                </div>
            {% else %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" id="BtnLogin" class="btn btn-primary">Login</button>
    </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function ()
        {
            bindClickBtnSendCode();
            bindClickLogin();
        });

        function bindClickBtnSendCode()
        {
            $('#BtnSendCode').click(function ()
            {
                $(this).prop('disabled', true);
                $('#ErrorMsg').empty()
                const emailAddress = $('#id_email').val();
                $.ajax
                ({
                    url: '{% url 'emailVerify' %}',
                    type: 'GET',
                    data: {email: emailAddress, type: 'login'},
                    dataType: 'JSON',
                    success: function (res)
                    {
                        if (res.status)
                        {
                            let time = 60;
                            let remind = setInterval(function()
                            {
                                $('#BtnSendCode').text(time+'s to resend');
                                time = time - 1;
                                if (time < 1)
                                {
                                    $('#BtnSendCode').text('Send Code').prop('disabled', false);
                                    clearInterval(remind);
                                }
                            }, 1000)
                        }
                        else
                        {
                            $('#BtnSendCode').prop('disabled', false);
                            $('#ErrorMsg').text(res.error);
                        }
                    }
                })
            })
        }

        function bindClickLogin()
        {
            $('#BtnLogin').click(function ()
            {
                $(this).prop('disabled', true);
                $('#ErrorMsg').empty();
                $.ajax
                ({
                    url: '{% url 'loginEmail' %}',
                    type: 'POST',
                    data: $('#LoginForm').serialize(),
                    dataType: 'JSON',
                    success: function (res)
                    {
                        if (res.status)
                            console.log(res);
                            /* location.href = res.data; */
                        else
                            $('#ErrorMsg').text(res.error);
                        $('#BtnLogin').prop('disabled', false);
                    }
                })
            })
        }

    </script>
{% endblock %}
