{% extends 'layout/basic.html' %}
{% load static %}


{% block title %} User Login {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/account_form.css' %}">
{% endblock %}

{% block content %}
    <div class="account_form">
    <div class="form_title">Login to MP</div>
    <form id="LoginForm" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'image_code' %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    <div class="row">
                        <div class="col-xs-6">{{ field }}</div>
                        <div class="col-xs-6" style="text-align: right"><img src="{% url 'imageVerify' %}" id="ImageCode" title="Click to change image."></div>
                    </div>
                    <span id="ErrorMsg"></span>
                </div>
            {% else %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div>
            <div style="float: right"><a href="{% url 'loginEmail' %}">Change login method?</a></div>
            <button type="submit" id="BtnLogin" class="btn btn-primary">Login</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block js %}
<script>
        $(function ()
        {
            bindChangeImage();
            bindClickLogin();
        });

        function bindChangeImage()
        {
            $('#ImageCode').click(function ()
            {
                $(this).attr('src', '{% url 'imageVerify' %}' + '?random=' + Math.random());
            })
        }

        function bindClickLogin()
        {
            $('#BtnLogin').click(function ()
            {
                $(this).prop('disabled', true);
                $('#ErrorMsg').empty();
                $.ajax
                ({
                    url: '{% url 'loginUsername' %}',
                    type: 'POST',
                    data: $('#LoginForm').serialize(),
                    dataType: 'JSON',
                    success: function (res)
                    {
                        if (res.status)
                            // console.log(res);
                            location.href = res.data;
                        else
                        {
                            $('#ErrorMsg').text(res.error);
                            $('#ImageCode').trigger('click');
                        }
                        $('#BtnLogin').prop('disabled', false);
                    }
                })
            })
        }
</script>
{% endblock %}
