<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">
    <style>
        .account{width: 500px;}
    </style>
</head>
<body>
<div class="account">
    <h1 style="text-align: center">Register</h1>
    <form>
        {% for field in form %}
            {% if field.name == 'verificationCode' %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    <div class="clearfix">
                        <div class="col-md-5" style="padding-left: 0;">{{ field }}</div>
                        <div class="col-md-5"><button type="button" class="btn btn-default">Send Verification Code</button></div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label for={{ field.id_for_label }}> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>